/* CSS Personnalisé */

#create-topic {
    width: 210px;
    order: 4;
    background-color: var(--pp-secondary-1);
    color: var(--pp-grey-000);
    & .d-icon {
        color: var(--pp-grey-000);
    }
}

// Forcer la couleur du texte de la popup didomi en noir
#didomi-popup { 
  color: var(--pp-grey-900);
}

// Cacher les span qui ont aria-hidden="true"
span[aria-hidden="true"] {
    display: none;
}

/* Header */
.d-header-mode .bootstrap-mode {
    background-color: var(--pp-secondary-1);  
    color: var(--pp-grey-000)!important;
}

.discourse-no-touch .d-header-icons .header-dropdown-toggle>.btn:hover .d-icon {
    color: var(--pp-secondary-1);
}
 
/* Sidebar */

// Fix bug sidebar scroll //
.sticky-sidebar > div {
    position: sticky!important;
    top: var(--main-outlet-offset)!important;
}

// Couleurs des éléments de la sidebar
.sidebar-section-link-wrapper .sidebar-section-link,
.sidebar-section-link-wrapper .sidebar-section-link-prefix.icon, 
.sidebar-section-link-wrapper .sidebar-section-link-prefix.span {
  color: var(--pp-secondary-1);
}

.sidebar-section-link-wrapper .sidebar-section-link:hover .sidebar-section-link-prefix.icon, 
.sidebar-section-link-wrapper .sidebar-section-link:hover .sidebar-section-link-prefix.span,
.sidebar-section-link-wrapper .sidebar-section-link:hover {
  color: var(--pp-secondary-1);
}

.sidebar-section-wrapper .sidebar-section-header {
  font-size: var(--font-0);
  color: var(--pp-secondary-1);
  background: none;
}

body:not(.admin-interface) #sidebar-section-content-categories .sidebar-section-link-wrapper[data-category-id] .sidebar-section-link-prefix:before {
  all: unset;
}

body:not(.admin-interface) #sidebar-section-content-categories .sidebar-section-link-wrapper[data-category-id] .prefix-span {
  visibility: visible;
}

.sidebar-section-link-wrapper .sidebar-section-link-prefix .prefix-square {
    border-radius: 2px !important;
}

.sidebar-section-link-wrapper .sidebar-section-link-prefix {
  margin-right: 0.35rem;
}

.sidebar-footer-wrapper{
  display: none;
}


/* Welcome Banner */

// Propriétés quand la bannière est placé en dessous du header
.below-site-header-outlet.welcome-link-banner-connector .welcome-wrapper {
  margin-bottom: 0;
  width: 100%;
  border-radius: var(--rounded-xl);
  box-shadow: none;
  background: var(--pp-grey-000);
}

// Propriétés quand la bannière est placée dans le main container
.above-main-container-outlet.welcome-link-banner-connectors .welcome-link-banner-wrapper {
    margin: 0;
}

// Enlever le padding 
.above-main-container-outlet.welcome-link-banner-connectors .welcome-link-banner {
    padding: 0 0 16px;
}

.above-main-container-outlet.welcome-link-banner-connectors .welcome-wrapper {
  margin: 0;
  width: 100%;
  border-radius: var(--rounded-lg);
  box-shadow: none;
  background: var(--pp-grey-000);
}

// Couleur des liens 
.above-main-container-outlet.welcome-link-banner-connectors .welcome-wrapper a,
.below-site-header-outlet.welcome-link-banner-connector .welcome-wrapper a {
    color: var(--pp-secondary-1);
}

// Bouton fermer
.above-main-container-outlet.welcome-link-banner-connectors .welcome-link-banner-close,
.below-site-header-outlet.welcome-link-banner-connector .welcome-link-banner-close {
    background-color: transparent;
}



/* Main */
// Enlever la bordure de main-outlet
body.has-sidebar-page #main-outlet-wrapper #main-outlet, body #main-outlet-wrapper #main-outlet {
    border: 0;
}


// Rajout du bouton "create topic"
.fk-d-button-tooltip:has(#create-topic) { 
    display: flex;
    grid-area: create;
}

// Ajuster la couleur du bouton "create topic"
.fk-d-button-tooltip #create-topic {
    color: var(--pp-grey-000);
    background-color: var(--pp-secondary-1);
}

.fk-d-button-tooltip #create-topic .d-icon {
    color: var(--pp-grey-000)!important;
}

// Ajuster la grid template
.navigation-category .navigation-container .navigation-controls {
    grid-template-areas:
    "title title notifications edit list"
    "description description description description description"
    "create create . . .";
    grid-template-columns: 2rem auto 2.5rem 2.5rem 1fr;
    grid-template-rows: auto auto auto;
}

// Ajuster le bouton notif 
.navigation-category .navigation-container .navigation-controls .notifications-tracking-trigger {
    border-radius: var(--rounded-full);
    height: 2.5rem;
}

// Ajuster le bouton edit 
.navigation-container .navigation-controls .edit-category {
    left: 0;
}

// Ajuster le positionnement pour la home (navigation-topic)
.navigation-topics .navigation-container .navigation-controls {
    gap: 1rem;
}

.navigation-topics .navigation-container .navigation-controls .breadcrumbs__title {
    order: 1;
}

.navigation-topics .navigation-container .navigation-controls .fk-d-button-tooltip {
    order: 2;
}

.navigation-topics .navigation-container .navigation-controls .breadcrumbs__select {
    order: 3;
}

// Content - Topic
.extra-info-wrapper .topic-link {
    color: var(--pp-secondary-1);
}

img.avatar:not(.winner__avatar img.avatar,.user-card-avatar img.avatar), .cooked img.avatar:not(.thumbnail):not(.ytp-thumbnail-image):not(.emoji) {
    border: 0.25rem solid var(--pp-light-grey);
    background: var(--pp-light-grey);
    border-radius: 50%;
}

.topic-list-icons .d-icon-thumbtack.unpinned, .topic-list .d-icon-thumbtack.unpinned, 
.latest-topic-list .d-icon-thumbtack.unpinned, .top-topic-list .d-icon-thumbtack.unpinned,
.badge-category__wrapper .d-icon, .names .fa, .post-info.edits .widget-button .d-icon,
.topic-list-icons .d-icon-thumbtack, .topic-list .d-icon-thumbtack, 
.latest-topic-list .d-icon-thumbtack, .top-topic-list .d-icon-thumbtack{
    color: var(--pp-secondary-1); 
}

.badge-category__wrapper .badge-category::before {
    content: "";
    background: var(--category-badge-color);
    border-radius: var(--rounded-sm);
}

kbd {
    background: none;
    border: 1px solid var(--pp-secondary-1);
}

.topic-body .cooked details, details .d-editor-preview, details.details__boxed {
    background: none;
}

span.chcklst-box:not(.checked).fa-square-o::before {
    background-color: var(--pp-secondary-1);
}

// Content - Footer topics
.btn {
    color: var(--pp-grey-800);
    background-color: var(--pp-grey-300);
}

.btn .d-icon {
    color: var(--pp-grey-800);
}

.btn-flat .d-icon {
  color: var(--pp-secondary-1);  
}

.btn-transparent .d-icon, .btn-transparent.btn-default .d-icon {
  color: var(--pp-secondary-1);
}

.btn-primary {
    color: var(--pp-grey-000);
    background-color: var(--pp-secondary-1);
}

.btn-primary .d-icon {
    color: var(--pp-grey-000);
}

nav.post-controls .actions button.create {
    color: var(--pp-grey-800);
    background-color: var(--pp-grey-300);
}

/* Mobile */

@media (max-width: 768px) {
    .d-header #site-logo {
        margin-right: 12px;
    }

    .d-header > .wrap > .contents {
        & > .header-sidebar-toggle, .d-header-icons {
            order: 4; 
        }
    } 

    .header-sidebar-toggle > .btn {
        margin: 0!important;
    }

    #search-button {
        // retrait du bouton search dans la navbar en haut
        display: none;
    }

    .c-user-content {
        max-width: auto!important;
    }

    .d-header .title {
        --d-logo-height: 32px;
    }

    .topic-navigation + .row {
        max-width: unset !important; // overrides very specific core rule
    }

    .topic-post article.onscreen-post .row .topic-avatar {
        float: left;
        margin-right: 0.5em;
    }

    .d-header .extra-info-wrapper ~ .panel {
        .d-header-icons,
        .header-buttons {
            display: flex;
        }
    }

    .read-state {
        right: 1em;
    }

    .topic-title-outlet.back {
        display: none;
    }

    // fix padding welcome banner mobile 
    .above-main-container-outlet.welcome-link-banner-connectors .welcome-link-banner-wrapper, 
    .below-site-header-outlet.welcome-link-banner-connector .welcome-link-banner-wrapper {
        margin-top: 1em;
    }
    .above-main-container-outlet.welcome-link-banner-connectors .welcome-wrapper, 
    .below-site-header-outlet.welcome-link-banner-connector .welcome-wrapper {
        max-width: 90vw;
        margin-top: 0;
    }

    // fix la taille de la modal "reply control" (nouveau message)
    body.has-sidebar-page #reply-control:not(.fullscreen).hide-preview {
        width: 100%;
        margin: auto;
        // border-top: 1px solid var(--pp-grey-650);
        box-shadow: 0 10px 60px -5px rgba(193, 201, 214, 0.45);
    }

    // fix la taille de main outlet
    body.has-sidebar-page:not(:has(.blocks.--right)) #main-outlet-wrapper #main-outlet, 
    body:not(:has(.blocks.--right)) #main-outlet-wrapper #main-outlet {
        max-width: 100%;
        box-sizing: border-box;
    }

    // fix taille d'un élément sur la page profil qui sortait de la div
    .user-main .about .secondary {
        width: auto;
    }

    // show toggle menu 
    .d-header .header-sidebar-toggle {
        display: block;
    }

    .d-header .header-sidebar-toggle .btn {
        background-color: transparent;
    }
    .header-sidebar-toggle button .d-icon {
        color: var(--pp-grey-900);;
    }

    // fix reply button on topics
    #topic-footer-buttons {
        padding-right: 1rem;
    }
    
    .top-menu {
        & .menu-content {
            padding: 0 calc(24px - 0.5em)!important;
        }
    }
}