:root {
    --pp-primary: #007461;
    --pp-secondary-1: #308276;
    --pp-secondary-2: #A0D7A2;
    --pp-secondary-3: #004652;
    --pp-secondary-4: #D8EAD7;
    --pp-accent-1: #E62F44;
    --pp-accent-2: #0A94A8;
    
    --pp-grey-000: #FFFFFF;
    --pp-grey-200: #F7F8FA;
    --pp-grey-300: #ECEDF0;
    --pp-grey-600: #C1C9D6;
    --pp-grey-650: #8D93AA;
    --pp-grey-700: #666E8A;
    --pp-grey-800: #071621;
    --pp-grey-900: #000000;
    
    // Fix
    --header_primary: var(--pp-secondary-1);
    
    --d-sidebar-background: var(--pp-grey-200);
    --d-sidebar-admin-background: var(--pp-grey-200);
    
    --d-sidebar-active-color: var(--pp-secondary-1);
    
    --d-sidebar-highlight-background: var(--pp-grey-000);
    --d-sidebar-active-background: var(--pp-grey-000);
    
    --d-sidebar-header-color: var(--pp-grey-000);
    --d-sidebar-header-icon-color: var(--pp-secondary-1);
    
    --category-badge-border-radius: 2px;
    
    --neutral-0: var(--pp-grey-800);
    --neutral-5: var(--pp-grey-800);
    --neutral-10: var(--pp-grey-800);
    --neutral-20: var(--pp-grey-800);
    --neutral-30: var(--pp-grey-700);
    --neutral-40: var(--pp-grey-650);
    --neutral-50: var(--pp-grey-650);
    --neutral-60: var(--pp-grey-300);
    --neutral-70: var(--pp-grey-200);
    --neutral-80: var(--pp-grey-000);
    --neutral-90: var(--pp-grey-000);
    --neutral-95: var(--pp-grey-000);
    --neutral-100: var(--pp-grey-000);
    
    --primary-very-low: var(--pp-grey-200);
    --primary-medium: var(--pp-secondary-1);
    --primary-med-or-secondary-med: var(--pp-secondary-1);
}

/* CSS Personnalisé */

#create-topic {
    width: 210px;
    order: 4;
    background-color: var(--pp-secondary-1);
    color: var(--pp-grey-000);
}

#main-outlet {
    width: 100%;
    overflow: hidden;
}

// Fond du site en gris
html, body {
  background-color: var(--pp-grey-200);
}

// Forcer la couleur du texte de la popup didomi en noir
#didomi-popup { 
  color: var(--pp-grey-900);
}

// Fond des blocks (sidebar de droite sur la home)
.block {
  --bg: var(--pp-grey-000);
  color: var(--pp-grey-800);
}

// Cacher les span qui ont aria-hidden="true"
span[aria-hidden="true"] {
    display: none;
}

// Contour des inputs
input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], 
input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], 
input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color],
.select-kit.combo-box .select-kit-header {
    border: 1px solid var(--pp-grey-600);
}


/* Header */
.d-header {
    background-color: var(--pp-grey-000);
    padding: 12px 64px;
    width: auto;
}

// // Bouton se connecter
.d-header .login-button {
    // color: var(--pp-grey-900);
    // background-color: transparent;
    border-radius: 64px;
}

// .d-header .login-button:hover {
//     color: var(--pp-secondary-1);
//     background-color: transparent;
// }

.d-header .login-button .d-icon {
    display: none;
}

// Bouton s'inscrire
.d-header .signup-button {
    border-radius: 64px;
}
.d-header .signup-button .d-button-label {
    color: white;
}

.d-header .wrap {
    padding: 0;
    max-width: 100%;
}

.d-header-icons .header-dropdown-toggle > .btn .d-icon,
.d-header .d-header-icons li.c-create .d-icon,
.header-dropdown-toggle.current-user>.d-icon-bell {
    color: var(--pp-secondary-1);
}

.d-header-mode .bootstrap-mode {
    background-color: var(--pp-secondary-1);  
    color: var(--pp-grey-000)!important;
}

.discourse-no-touch .d-header-icons .header-dropdown-toggle>.btn:hover .d-icon {
    color: var(--pp-secondary-1);
}

.d-header .d-header-icons {
    order: 1;
}

.d-header .header-buttons {
    order: 2;
    margin-top: 0;
}

.top-menu {
    font-size: 16px!important;
}

// Custom header
.d-header-wrap {
    width: 100vw;
    position: sticky;
}

body.has-sidebar-page .d-header .wrap {
    max-width: 100%;
    padding: 0;
}

.d-header .wrap .contents {
    display: flex;
    gap: 0;
}

.d-header .d-header-icons li.c-user {
    display: flex;
}

// Search bar
.floating-search-input .search-banner-inner.wrap .search-menu .search-menu-container,
.floating-search-input .search-banner-inner.wrap .search-menu .search-menu-container:has(.search-menu-panel),
.floating-search-input .search-banner-inner.wrap .search-menu .search-menu-container:hover {
  background-color: var(--pp-grey-200);
}


// Dropdown menu user
.c-user-content {
    max-width: 320px!important;
}
 
/* Sidebar */

// Fix bug sidebar scroll //
.sticky-sidebar > div {
    position: sticky!important;
    top: var(--main-outlet-offset)!important;
}

// Couleurs des éléments de la sidebar
.sidebar-section-link-wrapper .sidebar-section-link,
.sidebar-section-link-wrapper .sidebar-section-link-prefix.icon, 
.sidebar-section-link-wrapper .sidebar-section-link-prefix.span {
  color: var(--pp-secondary-1);
}

.sidebar-section-link-wrapper .sidebar-section-link:hover .sidebar-section-link-prefix.icon, 
.sidebar-section-link-wrapper .sidebar-section-link:hover .sidebar-section-link-prefix.span,
.sidebar-section-link-wrapper .sidebar-section-link:hover {
  color: var(--pp-secondary-1);
}

.sidebar-section-wrapper .sidebar-section-header {
  font-size: var(--font-0);
  color: var(--pp-secondary-1);
  background: none;
}

body:not(.admin-interface) #sidebar-section-content-categories .sidebar-section-link-wrapper[data-category-id] .sidebar-section-link-prefix:before {
  all: unset;
}

body:not(.admin-interface) #sidebar-section-content-categories .sidebar-section-link-wrapper[data-category-id] .prefix-span {
  visibility: visible;
}

.sidebar-section-link-wrapper .sidebar-section-link-prefix .prefix-square {
    border-radius: 2px !important;
}

.sidebar-section-link-wrapper .sidebar-section-link-prefix {
  margin-right: 0.35rem;
}

.sidebar-footer-wrapper .sidebar-footer-container:before {
  all: unset;
}


/* Welcome Banner */

// Propriétés quand la bannière est placé en dessous du header
.below-site-header-outlet.welcome-link-banner-connector .welcome-wrapper {
  margin-bottom: 0;
  width: 100%;
  border-radius: var(--rounded-xl);
  box-shadow: none;
  background: var(--pp-grey-000);
}

// Propriétés quand la bannière est placée dans le main container
.above-main-container-outlet.welcome-link-banner-connectors .welcome-link-banner-wrapper {
    margin: 0;
}

// Enlever le padding 
.above-main-container-outlet.welcome-link-banner-connectors .welcome-link-banner {
    padding: 0 0 16px;
}

.above-main-container-outlet.welcome-link-banner-connectors .welcome-wrapper {
  margin: 0;
  width: 100%;
  border-radius: var(--rounded-lg);
  box-shadow: none;
  background: var(--pp-grey-000);
}

// Couleur des liens 
.above-main-container-outlet.welcome-link-banner-connectors .welcome-wrapper a,
.below-site-header-outlet.welcome-link-banner-connector .welcome-wrapper a {
    color: var(--pp-secondary-1);
}

// Bouton fermer
.above-main-container-outlet.welcome-link-banner-connectors .welcome-link-banner-close,
.below-site-header-outlet.welcome-link-banner-connector .welcome-link-banner-close {
    background-color: transparent;
}



/* Main */
// Enlever la bordure de main-outlet
body.has-sidebar-page #main-outlet-wrapper #main-outlet, body #main-outlet-wrapper #main-outlet {
    border: 0;
}


// Rajout du bouton "create topic"
.fk-d-button-tooltip:has(#create-topic) { 
    display: flex;
    grid-area: create;
}

// Ajuster la couleur du bouton "create topic"
.fk-d-button-tooltip #create-topic {
    color: var(--pp-grey-000);
    background-color: var(--pp-secondary-1);
}

.fk-d-button-tooltip #create-topic .d-icon {
    color: var(--pp-grey-000)!important;
}

// Ajuster la grid template
.navigation-category .navigation-container .navigation-controls {
    grid-template-areas:
    "title title notifications edit list"
    "description description description description description"
    "create create . . .";
    grid-template-columns: 2rem auto 2.5rem 2.5rem 1fr;
    grid-template-rows: auto auto auto;
}

// Ajuster le bouton notif 
.navigation-category .navigation-container .navigation-controls .notifications-tracking-trigger {
    border-radius: var(--rounded-full);
    height: 2.5rem;
}

// Ajuster le bouton edit 
.navigation-container .navigation-controls .edit-category {
    left: 0;
}

// Ajuster le positionnement pour la home (navigation-topic)
.navigation-topics .navigation-container .navigation-controls {
    gap: 1rem;
}

.navigation-topics .navigation-container .navigation-controls .breadcrumbs__title {
    order: 1;
}

.navigation-topics .navigation-container .navigation-controls .fk-d-button-tooltip {
    order: 2;
}

.navigation-topics .navigation-container .navigation-controls .breadcrumbs__select {
    order: 3;
}

// Ajuster le positionnement pour la page des categories (categories-list)
.categories-list .navigation-container .navigation-controls {
    gap: 1rem;
}

.categories-list .navigation-container .navigation-controls .breadcrumbs__title {
    order: 1;
}

.categories-list .navigation-container .navigation-controls .fk-d-button-tooltip {
    order: 2;
}


// Content - Topic
.extra-info-wrapper .topic-link {
    color: var(--pp-secondary-1);
}

img.avatar:not(.winner__avatar img.avatar,.user-card-avatar img.avatar), .cooked img.avatar:not(.thumbnail):not(.ytp-thumbnail-image):not(.emoji) {
    border: 0.25rem solid var(--pp-light-grey);
    background: var(--pp-light-grey);
    border-radius: 50%;
}

.timeline-container .topic-timeline .start-date,
.timeline-container .topic-timeline .now-date,
.timeline-container .topic-timeline .timeline-ago{
    color: var(--pp-secondary-1);
}

.timeline-container .topic-timeline .timeline-handle {
    background-color: var(--pp-secondary-1);
}

.topic-list-icons .d-icon-thumbtack.unpinned, .topic-list .d-icon-thumbtack.unpinned, 
.latest-topic-list .d-icon-thumbtack.unpinned, .top-topic-list .d-icon-thumbtack.unpinned,
.badge-category__wrapper .d-icon, .names .fa, .post-info.edits .widget-button .d-icon,
.topic-list-icons .d-icon-thumbtack, .topic-list .d-icon-thumbtack, 
.latest-topic-list .d-icon-thumbtack, .top-topic-list .d-icon-thumbtack{
    color: var(--pp-secondary-1); 
}

.badge-category__wrapper .badge-category::before {
    content: "";
    background: var(--category-badge-color);
    width: 1rem!important;
    height: 1rem!important;
    display: inline;
    border-radius: var(--rounded-sm);
}

kbd {
    background: none;
    border: 1px solid var(--pp-secondary-1);
}

.topic-body .cooked details, details .d-editor-preview, details.details__boxed {
    background: none;
}

span.chcklst-box:not(.checked).fa-square-o::before {
    background-color: var(--pp-secondary-1);
}

blockquote {
    border-left: 5px solid var(--pp-secondary-1);
}

// Content - Footer topics
.btn {
    color: var(--pp-grey-800);
    background-color: var(--pp-grey-300);
}

.btn .d-icon {
    color: var(--pp-grey-800);
}

.btn-flat .d-icon {
  color: var(--pp-secondary-1);  
}

.btn-transparent .d-icon, .btn-transparent.btn-default .d-icon {
  color: var(--pp-secondary-1);
}

.btn-primary {
    color: var(--pp-grey-000);
    background-color: var(--pp-secondary-1);
}

.btn-primary .d-icon {
    color: var(--pp-grey-000);
}

nav.post-controls .actions button.create {
    color: var(--pp-grey-800);
    background-color: var(--pp-grey-300);
}

/* Admin */
.admin-report .d-page-subheader__title a,
.admin-area .sidebar-wrapper .admin-panel .sidebar-section-header-text,
.admin-area .content-list ul li a,
.admin-customize .themes-list-container__item {
    color: var(--pp-secondary-1);
}

.admin-customize .themes-list-header .tab, .discourse-no-touch .admin-customize .themes-list-header .tab .d-icon {
    color: var(--pp-secondary-1);
}

.admin-area .btn, .admin-area .btn .d-icon {
    color: var(--pp-grey-800);
}

.admin-area .btn-primary, .admin-area .btn-primary .d-icon {
    color: var(--pp-grey-000);
}

.admin-customize .themes-list-container__item.inactive-indicator .btn.select-inactive-mode {
    background: none;
}

.admin-customize .themes-list-container__item.inactive-indicator .btn.select-inactive-mode .d-icon {
    color: var(--pp-secondary-1);
}

// retrait de "Welcome to the community" banner 
.blocks.--top {
    display:none!important;
}
//

/* Mobile */

@media (max-width: 768px) {
    .d-header #site-logo {
        margin-right: 12px;
    }

    .d-header > .wrap > .contents {
        & > .header-sidebar-toggle, .d-header-icons {
            order: 4; 
        }
    } 

    .header-sidebar-toggle > .btn {
        margin: 0!important;
    }

    #search-button {
        // retrait du bouton search dans la navbar en haut
        display: none;
    }

    .c-user-content {
        max-width: auto!important;
    }

    .sidebar-wrapper {
        display: none!important;
    }

    .d-header .title {
        --d-logo-height: 32px;
    }

    .topic-navigation + .row {
        max-width: unset !important; // overrides very specific core rule
    }

    .topic-post article.onscreen-post .row .topic-avatar {
        float: left;
        margin-right: 0.5em;
    }

    .d-header .extra-info-wrapper ~ .panel {
        .d-header-icons,
        .header-buttons {
            display: flex;
        }
    }

    .read-state {
        right: 1em;
    }

    .topic-title-outlet.back {
        display: none;
    }

    // hide footer nav on mobile chat routes to maximize chat space

    body.has-full-page-chat {
        .sidebar-wrapper {
            display: none;
        }
    }

    // fix padding header mobile
    .d-header {
        padding: 12px 24px;
    }

    // fix padding welcome banner mobile 
    .above-main-container-outlet.welcome-link-banner-connectors .welcome-link-banner-wrapper, 
    .below-site-header-outlet.welcome-link-banner-connector .welcome-link-banner-wrapper {
        margin-top: 1em;
    }
    .above-main-container-outlet.welcome-link-banner-connectors .welcome-wrapper, 
    .below-site-header-outlet.welcome-link-banner-connector .welcome-wrapper {
        max-width: 90vw;
        margin-top: 0;
    }

    // fix la taille de la modal "reply control" (nouveau message)
    body.has-sidebar-page #reply-control:not(.fullscreen).hide-preview {
        width: 100%;
        margin: auto;
        // border-top: 1px solid var(--pp-grey-650);
        box-shadow: 0 10px 60px -5px rgba(193, 201, 214, 0.45);
    }

    // fix la taille de main outlet
    body.has-sidebar-page:not(:has(.blocks.--right)) #main-outlet-wrapper #main-outlet, 
    body:not(:has(.blocks.--right)) #main-outlet-wrapper #main-outlet {
        max-width: 100%;
        box-sizing: border-box;
    }

    // fix taille d'un élément sur la page profil qui sortait de la div
    .user-main .about .secondary {
        width: auto;
    }

    // show toggle menu 
    .d-header .header-sidebar-toggle {
        display: block;
    }

    .d-header .header-sidebar-toggle .btn {
        background-color: transparent;
    }
    .header-sidebar-toggle button .d-icon {
        color: var(--pp-grey-900);;
    }

    // fix reply button on topics
    #topic-footer-buttons {
        padding-right: 1rem;
    }
    
}