#main-outlet {
  .container:has(#banner) {
    display: none;
  }
}

#banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  .floated-buttons {
    position: absolute;
    right: 1rem;
  }

  &-content {
    flex: 1;
    box-sizing: border-box;
    max-width: var(--d-max-width);
    padding: 1rem;
    text-align: center;

    h3 {
      @include headline-small;
    }

    p {
      @include body-medium;
    }
  }
}

.block-banner {
  --b: 0;
  --jc: center;
  --ai: center;
  --bg: url($block-banner-bg) no-repeat 50% 50%;
  --c: #14263f;
  --p: 1rem;
  --fd: column;
  --w: span 12;
  box-sizing: border-box;
  padding: 2rem;
  text-align: center;

  h1 {
    margin: 0;

    @include headline-small;
  }

  &__blurb {
    margin-top: 0.75rem;

    @include body-medium;
  }
}
